body {
  margin: 0;
  padding: 0;
}

.subject_bod {
	height: 100px;
	overflow: scroll;;
}

.subject_title {
	height: 60px;
	overflow: hidden;;
}

.look_normal a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color:#333;
}

.nbar {
	position: absolute;
	left: 364px;
	margin-left: -182px;
}